<nz-breadcrumb>
  <nz-breadcrumb-item>Settings</nz-breadcrumb-item>
  <nz-breadcrumb-item><a routerLink="/app/invoice-settings" class="breadcrumb-link">Invoice Setting</a></nz-breadcrumb-item>
</nz-breadcrumb>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card shadow-lg">
      <div class="card-header">
        <h5 class="text-center card-title">Invoice Settings</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 text-start">
            <nz-space-compact nzSize="default">
              <nz-input-wrapper class="search-input">
                <nz-icon nzInputAddonBefore nzType="search" />
                <input nz-input (keyup)="onChangeApplyFilter($event)" placeholder="Search by company name | Terms | Footer" />
              </nz-input-wrapper>              
            </nz-space-compact>
          </div>
          <div class="col-md-6 text-end">
            <button nz-button nzType="primary" routerLink="/app/invoice-setting/create">
              <nz-icon nzType="plus" nzTheme="outline" />
              Create
            </button>
          </div>
          <div class="col-md-12">
            <nz-table #basicTable [nzData]="invoiceSettings" [nzBordered]="true" [nzOuterBordered]="true" [nzFrontPagination]="false" 
              [nzTotal]="totalRecord" [nzSize]="'default'" [nzPaginationType]="'default'" [nzShowSizeChanger]="true" 
              (nzQueryParams)="onChangeQueryParams($event)">
              <thead>
                <tr>
                  <th nzColumnKey="companyName" [nzSortFn]="true">Company</th>
                  <th nzColumnKey="invoiceTerms" [nzSortFn]="true">Terms</th>
                  <th nzColumnKey="invoiceFooter" [nzSortFn]="true">Footer</th>
                  <th>Invoice Due Date Count</th>
                  <th>Invoice Color</th>
                  <th>Other Setting</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (data of basicTable.data; track data.id) {
                  <tr>
                    <td>
                      <span>{{ data.companyName }}</span> &nbsp;
                      <span *ngIf="data.isDefaultInvoiceSetting">
                        <nz-tag nzColor="success">
                          <nz-icon nzType="check-circle" />
                        </nz-tag>
                      </span>
                    </td>
                    <td>{{ data.invoiceTerms }}</td>
                    <td>{{ data.invoiceFooter }}</td>
                    <td>{{ data.invoiceDueDateCount }}</td>
                    <td>
                      <nz-color-picker nzDisabled nzShowText [nzValue]="data.invoiceColor!"></nz-color-picker>
                    </td>
                    <td>
                      <p>
                        Hide Invoice Header <nz-tag nzColor="#2db7f5">Yes</nz-tag>
                      </p>
                      <nz-tag nzColor="#f50">No</nz-tag>
                      
                    </td>
                    <td class="text-center action-cell">
                      <button nz-button nzType="text" nz-tooltip nzTooltipTitle="Edit" class="action-btn edit-btn"
                        routerLink="/app/invoice-setting/update/{{ data.id }}">
                        <nz-icon nzType="edit" />
                      </button>
                      <nz-divider nzType="vertical"></nz-divider>
                      <button nz-button nzType="text" nz-tooltip nzTooltipTitle="Delete" nzDanger class="action-btn delete-btn" 
                        nz-popconfirm [nzPopconfirmTitle]="deleteTpl" [nzIcon]="iconTpl" (nzOnConfirm)="onClickDelete(data.id?.toString())" 
                        (nzOnCancel)="cancel()">
                        <nz-icon nzType="delete" />
                      </button>
                      <ng-template #deleteTpl>
                        <div class="text-center">
                          Are you sure you want to delete this Invoice Setting?
                          <br />
                          Continue?
                        </div>
                      </ng-template>
                      <ng-template #iconTpl>
                        <nz-icon nzType="question-circle-o" style="color: red;" />
                      </ng-template>
                    </td>
                  </tr>
                }
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>