<nz-breadcrumb>
  <nz-breadcrumb-item>Access Control</nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/app/features" class="breadcrumb-link">Feature</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>Create Feature</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card shadow-lg">
      <div class="card-header">
        <h5 class="card-title text-center">Create Feature</h5>
      </div>
      <div class="card-body">
        <form class="row g-3" autocomplete="off">
          <div class="col-md-3">
            <label for="name" class="form-label">Name <span class="text-danger fw-bold">*</span></label>
            <nz-input-wrapper>
              <nz-icon nzInputPrefix nzType="branches" />
              <input nz-input placeholder="Enter feature name" nzSize="default" id="name" name="name" 
                [(ngModel)]="featureCreateModel.name" />
            </nz-input-wrapper>
          </div>
          <div class="col-md-3">
            <label for="email" class="form-label">Code</label>
            <nz-input-wrapper>
              <nz-icon nzInputPrefix nzType="number" />
              <input nz-input placeholder="Enter feature code" nzSize="default" id="code" name="code" 
                [(ngModel)]="featureCreateModel.code" />
            </nz-input-wrapper>
          </div>
          <div class="col-md-3">
            <label for="moduleId" class="form-label">Module <span class="text-danger fw-bold">*</span></label>
             <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Module" [(ngModel)]="featureCreateModel.moduleId" 
              name="moduleId" style="width: 100%;">
                @for (module of modules; track module.id) {
                  <nz-option [nzValue]="module.id" [nzLabel]="module.name!"></nz-option>
                }
              </nz-select>
          </div>
          <div class="col-md-3">
            <label for="controllerName" class="form-label">Controller Name <span class="text-danger fw-bold">*</span></label>
            <nz-input-wrapper>
              <nz-icon nzInputPrefix nzType="profile" />
              <input nz-input placeholder="Enter controller name" nzSize="default" id="controllerName" name="controllerName" 
                [(ngModel)]="featureCreateModel.controllerName" />
            </nz-input-wrapper>
          </div>
          <div class="col-md-3">
            <label for="tableName" class="form-label">Table Name <span class="text-danger fw-bold">*</span></label>
            <nz-input-wrapper>
              <nz-icon nzInputPrefix nzType="table" />
              <input nz-input placeholder="Enter table name" nzSize="default" id="tableName" name="tableName" 
                [(ngModel)]="featureCreateModel.tableName" />
            </nz-input-wrapper>
          </div>         
        </form>
      </div>
      <div class="card-footer text-end">
        <button nz-button nzType="primary" class="btn-save" (click)="onClickSaveFeature()">
          <nz-icon nzType="save" nzTheme="outline" />
          Save
        </button>
        <button nz-button nzType="primary" class="btn-cancel" routerLink="/app/features">
          <nz-icon nzType="close" nzTheme="outline" />
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>