.breadcrumb-link {
  text-decoration: none !important;
}

.icon-upload-align {
  margin-top: 27px;
}

.btn-save {
  background-color: #28a745; 
  border-color: #28a745;
  color: #fff;
}

.btn-save:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-cancel {
  background-color: #ff4d4f; 
  border-color: #ff4d4f;
  color: #fff;
  margin-left: 2px;
}

.btn-cancel:hover {
  background-color: #d9363e;
  border-color: #cf1322;
}

.delete-btn {
  color: #ff4d4f;
}

.delete-btn:hover {
  background-color: rgba(255, 77, 79, 0.1);
}